
/**
* O caótico não é aleatório, nem desordenado. Ele sempre tem um ponto
* ou um lugar de começo. O caos pode ter seu início na desordem que alguém causou
* e fala sempre do seu passo anterior.
* Essa sopa tóxica não é aleatória, nem desordenada. Serve a um propósito bem definido.
* A desordem é sempre fruto daqueles que querem tomar o pode, não consegue conviver com o divino caótico.
* A sopa é caótica, com sua divindade estranha conta a sua história, triste, 
* mas sempre uma coisa ligada à outra.
* Os canalhas que destroem a vida, estão ligados à a sopa assim como cada átomo ligado a outro.
* E se nos silerciamos por dentro, ouviremos o caos conta sua história até o seu início onde esses canalhas criaram a desordem. 
*/

.caos .ArtMoodBoard-post-content {
    width: 100%;
}

.caos {
    overflow: hidden;
    transform: translate(-50%,-50%);
    width: 17em;
    top: 25%;
    left: 25%;
}

.ArtMoodBoard-post-title {
    position: absolute;
    background-color: #00000077;
    font-size: 9px;
    font-family: "sans-serif";
    color: white;
    visibility: hidden;
}

.ArtMoodBoard-post {
    position: absolute;
    display: block;
    box-shadow: 0px 0px 20px 20px rgba(150, 150, 150, 0.3);
}

.ArtMoodBoard-post:hover {
    filter: brightness(5);
    cursor: pointer;
}

.ArtMoodBoard-post:hover .ArtMoodBoard-post-title  {
    visibility:visible;
}

.ArtMoodBoard-post * {
    display: block;
    margin: 0px !important;
    padding: 0px !important;
}

.wp-block-audio, .wp-block-video {
    margin: 0px;
    padding: 0px;
}


.root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

body, html, h1, .ArtMoodBoard-post p {
    width: 100%;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    top: 0px;
    left: 0px;
}


.ArtMoodBoard-post-box {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.site-header {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: none;
}